
<div class="container text-center mt-5">
    <h1>
        Welcome to the index page
    </h1>

    <div>
        <img src="https://www.triuno.com.ar/web/wp-content/uploads/2018/01/gourmet-home.jpg" alt="productos para la venta">
    </div>

</div>